<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Добавление видео</title>
    <meta charset="utf-8">
</head>
<body>
<form method="post" action="/video/add">
    <p>Добавление нового видео</p>
    <br><label>Ссылка<br><input required name="url"/></label>
    <br><label>Длина<br><input required name="length"/></label>
    <br><label>Дата выхода<br><input placeholder="2020-09-22" required name="release_date"/></label>
    <div class="container">
        {% with with_reaction = True %}
        {% from 'emotions.html' import content %}
        {% endwith %}
    </div>

    <button type="submit">Добавить</button>
</form>
</body>
</html>