<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/css/styles.css"/>

    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
<div class="my_header">
    <table>
        <tr align="center">
            <th><a href="/video/all">Все видео</a></th>
            {% if not current_user.is_anonymous %}
            <th><a href="/video/filter">Поиск</a></th>
            <th><a href="/video/like/watched">Похожие на понравившиеся</a></th>
            <th><a href="/video/similarities">Похожие на понравившиеся, без не понравившихся</a></th>
            <th><a href="/video/likes">Любимые</a></th>
            <th><a href="/video/dislikes">Нелюбимые</a></th>
            <th><a href="/video/measures">Метрики</a></th>
            <th><a href="/logout">Выход</a></th>
            {% else %}
            <th><a href="/login">Вход</a></th>
            <th><a href="/sign-up">Регистрация</a></th>
            {% endif %}
        </tr>
    </table>
</div>


{% with messages = get_flashed_messages(with_categories=true) %} {% if
messages %} {% for category, message in messages %} {% if category ==
'error' %}
<div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}

<div class="container">{% block content %} {% endblock %}</div>
</body>
</html>